<form>
  <label for="name">Name:</label>
  <input #newName id="name" class="formcontrol" type="text" name="name">
  <label for="brand">Brand:</label>
  <input #newBrand id="brand" class="formcontrol" type="text" name="brand">
  <label for="price">Price:</label>
  <input #newPrice id="price" class="formcontrol" type="text" name="price">
  <label for="percent">Percent:</label>
  <input #newPercent id="percent" class="formcontrol" type="text" name="percent">
  <label for="amount">Amount:</label>
  <input #newAmount id="amount" class="formcontrol" type="text" name="amount">
  <button (click)="submitForm(newName.value, newBrand.value, newPrice.value, newPercent.value, newAmount.value); newName.value=''; newBrand.value=''; newPrice.value=''; newPercent.value=''; newAmount.value='';" class="btn btn-success btn-sm">New Keg</button>
</form>
