<div *ngIf="childSelectedBeer">
  <div class="well">
    <hr>
    <h2>Edit {{childSelectedBeer.name}} keg:</h2>
    <form class="form-group">
      <label for="name">Name:</label>
      <input [(ngModel)]="childSelectedBeer.name" id="name" class="form-control" type="text" name="name">

      <label for="brand">Brand:</label>
      <input [(ngModel)]="childSelectedBeer.brand" id="brand" class="form-control" type="text" name="brand">

      <label for="price">Price:</label>
      <input [(ngModel)]="childSelectedBeer.price" id="price" class="form-control" type="text" name="price">

      <label for="percent">Percent:</label>
      <input [(ngModel)]="childSelectedBeer.percent" id="percent" class="form-control" type="text" name="percent">

      <label for="amount">Amount:</label>
      <input [(ngModel)]="childSelectedBeer.amount" id="amount" class="form-control" type="text" name="amount">

      <button (click)="doneButtonClicked()">Done</button>
      <hr>
    </form>
  </div>
</div>
